div{
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid black;
}
div{
    background-color: lightblue;
}
input[type="submit"]{
    background-color: lightgreen;
    padding:auto ;
    color:white;
    border-radius: 5px;
    cursor:pointer;
}
input[type="submit"]:hover{
    background-color: lightcoral;
}